<footer>
    <div class="main-footer">
        <h5>Non-profit project,<br>For the love of Coding and Digital Innovation</h5>
        <div class="footer-links">
            <p><span>© 2022 </span>| Lambda | All rights reserved</p>
            <a href="">privacy policy</a>
            <a href="">legal</a>
            <a href="">terms of use</a>
        </div>
    </div>
    <div class="footer-socials">
        <img src="/assets/logo/linkedin.svg" alt="LinkedIn logo">
        <img src="/assets/logo/twitter.svg" alt="Twitter logo">
        <img src="/assets/logo/instagram.svg" alt="Instagram logo">
        <img src="/assets/logo/tiktok.svg" alt="Tiktok logo">
        <img src="/assets/logo/Github.svg" alt="Github logo">
    </div>
</footer>