.main-profile {
  padding: 1em;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

.header-profile {
  @include flex-row;
  @include center-align;
  justify-content: space-around;
  margin-bottom: 200px;
  .container-header {
    @include flex-column;
    p {
      font-weight: bold;
      color: $c--greySecondary;
    }
  }
  img {
    width: 120px;
    border-radius: 50%;
  }
}

.edit-container {
  @include flex-center-justify;
}

.profile {
  .title {
    padding: 1em;
  }
}