{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<h1>Utilisateurs</h1>

{% for user in users %}
    <p>{{ user.name }}</p>
    {# target le bon lien pour chaque profils #}
    {# <a href="{{ path('app_user_profile', {id:app.user.id}) }}">Profil de {{ user.name }}</a> #}
{% endfor %}

{% endblock %}
